In [1]:
import pandas as pd 
import numpy as np 
import csv

import math
import random

dataset = pd.read_csv('normallarge.csv', parse_dates = True)

In [2]:
# First 500 rows
dataset.head(500)

               date       state   fips  cases  deaths
0         1/21/2020  Washington  53061      1       0
1         1/22/2020  Washington  53061      1       0
2         1/23/2020  Washington  53061      1       0
3         1/24/2020    Illinois  17031      1       0
4         1/24/2020  Washington  53061      1       0
..              ...         ...    ...    ...     ...
495        3/4/2020  California   6061      2       1
496        3/4/2020  California   6067      3       0
497        3/4/2020  California   6073      1       0
498        3/4/2020  California   6075      3       0
499        3/4/2020  California   6081      1       0

[500 rows x 5 columns]

In [3]:
# last 500 rows
dataset.tail(500)

                 date     state   fips  cases  deaths
30002        4/3/2020     Texas  48485     44       0
30003        4/3/2020     Texas  48489      5       0
30004        4/3/2020     Texas  48491     71       1
30005        4/3/2020     Texas  48493      6       0
30006        4/3/2020     Texas  48497      3       0
...               ...       ...    ...    ...     ...
30497        4/4/2020  Colorado   8014     44       2
30498        4/4/2020  Colorado   8015     21       2
30499        4/4/2020  Colorado   8019      6       0
30500        4/4/2020  Colorado   8023      3       0
30501        4/4/2020  Colorado   8025      1       1

[500 rows x 5 columns]

In [4]:
# Total missing values
dataset.isnull().sum()

           date    0
state              0
fips               0
cases              0
deaths             0
dtype: int64

In [5]:
encode = {'state': {'Washington':1,
                    'Illinois':2,
                    'California':3,
                    'Arizona':4,
                    'Massachusetts':5,
                    'Wisconsin':6,
                    'Texas':7,
                    'Nebraska':8,
                    'Oregon':9,
                    'Utah':10,
                    'Florida':11,
                    'New York':12,
                    'colorado':13,
                    'Rhode Island':14,
                    'Georgia':15,
                    'New Hampshire':16,
                    'New Jersey':17,
                    'Maryland':18,
                    'Nevada':19,
                    'Hawaii':20,
                    'Indiana':21
                    ,'Kentucky':22,
                    'Minnesota':23,
                    'North Carolina':24,
                    'Oklahoma':25,
                    'Pennsylvania':26,'South Carolina':27,
                    'Tenessee':28,
                    'District of Columbia':29,
                    'Missouri':30,
                    'Vermont':31,
                    'Virginia':32,
                    'Connecticut':33,
                    'Iowa':34,
                    'Kansas':35,
                    'Ohio':36,
                    'Michigan':37,
                    'Delaware':38,
                    'New Mexico':39,
                    'South Dakota':40,
                    'Maine':41,'Arkansas':42,'Idaho':43,'Louisiana':44,'Montana':45,'Virgin Islands':46,
                    'Wyoming':47,'Guam':48,'Idaho':49,'West Virginia':50,'Alabama':51,'Alaska':52,
                    'Puerto Rico':53,'Mississippi':54,'North Dakota':55,'Northern Mariana Islands':56,'Tennessee':57,'Colorado':58}}

dataset.replace(encode, inplace=True)

In [6]:
dataset.head(100)

              date  state   fips  cases  deaths
0        1/21/2020      1  53061      1       0
1        1/22/2020      1  53061      1       0
2        1/23/2020      1  53061      1       0
3        1/24/2020      2  17031      1       0
4        1/24/2020      1  53061      1       0
..             ...    ...    ...    ...     ...
95        2/7/2020      1  53061      1       0
96        2/7/2020      6  55025      1       0
97        2/8/2020      4   4013      1       0
98        2/8/2020      3   6037      1       0
99        2/8/2020      3   6059      1       0

[100 rows x 5 columns]

In [7]:
dataset.tail(100)

                 date  state  fips  cases  deaths
30402        4/4/2020     42  5059      5       0
30403        4/4/2020     42  5061      4       0
30404        4/4/2020     42  5063      4       0
30405        4/4/2020     42  5069     53       0
30406        4/4/2020     42  5071      7       0
...               ...    ...   ...    ...     ...
30497        4/4/2020     58  8014     44       2
30498        4/4/2020     58  8015     21       2
30499        4/4/2020     58  8019      6       0
30500        4/4/2020     58  8023      3       0
30501        4/4/2020     58  8025      1       1

[100 rows x 5 columns]

In [8]:
data_cols = ['state','fips','cases']
target_cols = [ 'deaths']

X = dataset[data_cols]
y = dataset[target_cols]

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=100)

In [10]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier(n_estimators=100)

clf.fit(X_train,y_train.values.ravel())
y_predict = clf.predict(X_test)
print("Accuracy: {}%".format(clf.score(X_test, y_test) * 100 ))

Accuracy: 87.60791170363895%

In [11]:
from sklearn import svm
clf = svm.SVC(kernel='rbf', C = 10.0, gamma=0.1)
#clf = svm.SVC()
clf.fit(X_train, y_train.values.ravel())
y_predict = clf.predict(X_test)
print("Accuracy: {}%".format(clf.score(X_train, y_train) * 100 ))

Accuracy: 99.44264905625029%

In [12]:
from sklearn.linear_model import LogisticRegression
clf= LogisticRegression(solver='lbfgs', max_iter=10000)
#log_model = LogisticRegression(solver='lbfgs', max_iter=1000)
clf.fit(X_train, y_train.values.ravel())
y_predict = clf.predict(X_test)
print("Accuracy: {}%".format(clf.score(X_train, y_train) * 100 ))

Accuracy: 82.19287152826566%

C:\Users\rafid\anaconda3\envs\Python\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train.values.ravel())
y_predict = clf.predict(X_test)
print("Accuracy: {}%".format(clf.score(X_train, y_train) * 100 ))

Accuracy: 82.78769144302375%